.StudiesPage {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 6rem 5rem 2rem;
  background-color: var(--colour-black);
}

.StudiesBtnCreate {
  display: flex;
  gap: 2rem;
  margin-bottom: 4rem;
}

.StudiesTitle,
.StudiesText {
  color: var(--colour-white);
}

.StudiesTitle {
  margin: 4rem 0 2rem;

  font-size: 2.4rem;
  font-weight: bold;
}

.StudiesText {
  margin-bottom: 2rem;

  font-size: 1.8rem;
  text-align: start;
}

.OpenModalBtn {
  padding: 0.5rem;
  border-radius: 0.8rem;
  background-color: var(--colour-orange);
  color: var(--colour-white);
  font-size: 1.4rem;
  font-weight: bold;
}

@media screen and (max-width: 600px) {

  .StudiesPage {
    padding-top: 15rem;
  }
}