.HomePage {
  min-height: 100vh;

  padding: 6rem 4rem 0;
  background-color: var(--colour-black);
}

.MainInfos,
.GraphInfos {
  margin-top: 2rem;

  display: flex;
}

.Card,
.GraphCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem;
  border-radius: 8px;
  box-shadow: 2px 2px 10px 4px rgb(0, 0, 0, 0.7);
  background-color: var(--colour-light-grey);
}

.HeaderCard {
  border-radius: 8px 8px 0 0;
  padding: 1rem;
  background-color: var(--colour-grey);
  color: var(--colour-light-grey);
  font-size: 2rem;
  font-weight: bold;
}

.BodyCard {
  padding: 1rem 2rem;
  font-size: 1.6rem;
}

.BodyCard p {
  margin-bottom: 2rem;
}


@media screen and (max-width: 600px) {

  .HomePage {
    padding-top: 15rem;
  }

  .MainInfos,
  .GraphInfos {
    flex-direction: column;
  }
}