.StudyDetailPage {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 6rem 5rem 0;
  background-color: var(--colour-black);
}

.DetailText {
  color: var(--colour-white);
}

.DetailTitle {
  margin: 4rem 0 1rem;

  font-size: 2.4rem;
  font-weight: bold;
}

.DetailContainerText {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 2rem;
}

.DetailInfo {
  font-size: 1.8rem;
  text-align: start;
}

.DetailBtn {
  border-radius: 0.8rem;
  padding: 0.8rem 1.2rem;
  background-color: var(--colour-orange);
  color: var(--colour-white);
  font-size: 1.4rem;
  font-weight: bold;
}

@media screen and (max-width: 600px) {

  .StudyDetailPage {
    padding-top: 15rem;
  }
}