header {
  position: fixed;
  top: 0;

  width: 100%;
  height: 6rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 2rem;
  background-color: var(--colour-grey);
  color: var(--colour-light-grey);
  font-size: 1.6rem;
}

.LinksContainer {
  width: 60%;
  margin: 0 1.2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.LinkHeader {
  cursor: pointer;

  margin: 0 1rem;

  /* text-decoration: underline; */
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--colour-light-grey);
}

.LinkHeader:hover {
  transform: scale(1.05);
  opacity: 0.9;
  text-decoration: underline;
}

.HeaderUser {
  width: 20%;
  gap: 1rem;
}

.HeaderName {
  font-size: 1.2rem;
}

.LogoffBtn {
  padding: 0.5rem;
  border-radius: 0.8rem;
  background-color: var(--colour-orange);
  color: var(--colour-white);
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  header {
    justify-content: center;
  }

  .LinksContainer,
  .HeaderUser {
    display: none;
  }
}